body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.block{
    margin: 15px;
}
.question{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #d30243;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}

#quizTime{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #d30243;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
}

#submit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #d30243;
    color: #fff;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #4e0119;
}